<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
<link rel="stylesheet" href="css/materialize-social.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#about">About Me</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#contact">Contact Me</a></li>
    </ul>
  </div>
</nav>

<div id="container" class=" container ">
  <div class="fixed-action-btn click-to-toggle ">
    <a class="btn-floating btn-large blue top-fab ">
      <i class="material-icons">menu</i>
    </a>
    <ul>
      <li>
        <a class="waves-effect waves-light btn-floating  paperclip"
          href="https://drive.google.com/open?id=1Ub6gGb3lxTYnmTUyQPaK_8LNzy2HsN6m" target="_blank"><i
            class="fa fa-paperclip"></i></a>
      </li>
      <li>
        <a class="waves-effect waves-light btn-floating social. linkedin"
          href="https://www.linkedin.com/in/kanwar-b-18682b1/" target="_blank"><i class="fa fa-linkedin"></i></a>
      </li>
      <li>
        <a class="waves-effect waves-light btn-floating social medium"><i class="fa fa-medium"
            href="https://medium.com/@kanwarb" target="_blank"></i></a>
      </li>
      <li>
        <a class="waves-effect waves-light btn-floating social github" href="https://github.com/kanwarb"
          target="_blank"><i class="fa fa-github"></i></a>
      </li>
    </ul>
  </div>
</div>

<div id="about" class="container blue-card z-depth-3 p-3">

    <div class="col s4">
      <h2 class="change-font" style="color:darkgoldenrod">Kanwar Batra</h2>
      <p>

      </p>
    </div>

  <div class="col s8 m7">
    <div class="card horizontal">
      <div class="card-image">
        <img src="images/kanwar1.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">

          <p>
            Ability to design , high available, Scalable and Secure Cloud infrastructure on Public , Private and Hybrid
            using AWS, Openstack, Cloudstack and Kubernetes with Cost optimization to meet budget constraints by moving
            workloads from on premise to public cloud platform with much more enhanced security setup than
            was on their existing physical infrastructure. Drive the process from POC to Production
          </p>
          <p>
            Built Multiple Region and Multi Site Private Cloud using Openstack (Mirantis, Ubuntu) and AWS in US ,
            Ireland
            and Singapore.Created strategy for
            secure backups and at rest data encryption for system in a fully cloud based system.

          </p>

          <p>
            My other achievements include designing cloud infrastructure for large scale organizations and help them
            with
            their transformation
            jourey
          </p>

          <p>
            In my free time I like to dabble in playing with raspberry pai hardware creating all kinds of things like
            remote controlled
            cars and drones that can fly within the confines of my house. I also enjoy traveling so every year try to go
            on a vacation
          </p>
          <p>




          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="portfolio" class="container blue-card z-depth-3">
      <h2 class="change-font" style="color:darkgoldenrod">Portfolio</h2>
 </div>
<div id="portfolio" class="container blue-card z-depth-3">
  <div class="row" id="deployed">
    <div class="col-md-4 col-sm-6 col-xs-12 mt-3">
      <a href="https://kanwarb.github.io/Flawless/" target="_blank"><img src="images/flawless.PNG"
          class="card-img image-fluid rounded" alt="Project GifTastic"></a>
      <div class="card bg-transparent">
        <h5 class="card-title text-bottom text-black" style="border: none">Project flawless</h5>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 mt-3">
      <a href="https://kanwarb.github.io/GifTastic/" target="_blank"><img src="images/giftastic.PNG"
          class="card-img image-fluid rounded" alt="Project GifTastic"></a>
      <div class="card bg-transparent">
        <h5 class="card-title text-bottom text-black" style="border: none">Project Giftastic</h5>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 mt-3">
      <a href="https://kanwarb.github.io/trainTime/" target="_blank"><img src="images/traintime.PNG"
          class="card-img image-fluid rounded" alt="Project GifTastic"></a>
      <div class="card bg-transparent">
        <h5 class="card-title text-bottom text-black" style="border: none">Project Train Time</h5>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 mt-3">
      <a href="https://kanwarb.github.io/TriviaGame/" target="_blank"><img src="images/trivia.PNG"
          class="card-img image-fluid rounded" alt="Project GifTastic"></a>
      <div class="card bg-transparent">
        <h5 class="card-title text-bottom text-black" style="border: none">Trivia Game</h5>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 mt-3">
      <a href="https://kanwarb.github.io/unit-4-game/" target="_blank"><img src="images/crystal-collector.PNG"
          class="card-img image-fluid rounded" alt="Project GifTastic"></a>
      <div class="card bg-transparent">
        <h5 class="card-title text-bottom text-black" style="border: none">Crystal Collector</h5>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 mt-3">
      <a href="https://kanwarb.github.io/Psychic-Game/" target="_blank"><img src="images/psychicGame.PNG"
          class="card-img image-fluid rounded" alt="Project GifTastic"></a>
      <div class="card bg-transparent">
        <h5 class="card-title text-bottom text-black" style="border: none">Psychic Game</h5>
      </div>
    </div>
  </div>

</div>


<script>
  $(document).ready(function () {
    $('.fixed-action-btn').floatingActionButton();
  });

  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, {
      direction: 'left',
      hoverEnabled: true
    });
  });
</script>